
$font-stack:    'Roboto', sans-serif;
$primary-color: #0000;

body {
	font: 100% $font-stack;
	color: $primary-color;
}

.yc-h3 {
	font-family: 'RobotoLight', sans-serif;
	font-size: 28px;
	color: black;
	text-shadow: 1px 1px 2px gray;
}

.yc-h2 {
	font-family: 'RobotoBold', sans-serif;
	font-size: 32px;
	letter-spacing: 5px;
	color: black;
	text-shadow: 1px 1px 2px black;
}

.yc-list {
    list-style-type: none;
	.yc-list-el {
		cursor: pointer;
		color: black;

		margin-top: 10%;
		margin-bottom: 10%;

		font-size: 200%;

		.yc-paragraph {
			width: 0; 
			height: 0; 
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			
			border-left: 15px solid red;

			position: relative;
			top: 10px;
		}
		
		.yc-paragraph-info {
			position: relative;
			left: 5%;
		}
    }
}

